<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Closest: A flatiron App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Closest</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="form_focus">
        <FORM NAME="myform" ID="search-box" ACTION="" METHOD="GET">
          <label for='user-input'>"Find me: "</label>
        <INPUT TYPE="text" NAME="inputbox" VALUE="Donut" ID="user-input">
        <INPUT TYPE="button" NAME="button" Value="Click" ID="user-submit">
        </FORM>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    // check for Geolocation support
    // $( "#user-submit" ).click(function() {
    if (navigator.geolocation) {
        console.log('Geolocation is supported!');
    } else {
        console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
    //Sets startPos and times out if time is too long
    $("#user-submit").click(function () {
        var_name = document.getElementById("search-box").style.display = 'none';
        var startPos;
        var geoOptions = {
            timeout: 10 * 1000
        };
        var geoSuccess = function (position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var term = $("#user-input").val();
            // console.log(latitude);
            // console.log(longitude);
            $.ajax({
                type: "GET",
                url: "/results",
                data: {
                    lat: latitude,
                    lon: longitude,
                    input: term
                },
                success: function(response){
                    JSON.parse(response).forEach(function(arr){
                      $(".shops").append("<a href=" + arr[2] + "><li>" + arr[0] + ", Rated: " + arr[1] + " stars, Located " + arr[4] + " away at: " + arr[3] + "</li></a>")
                    });
                }
            }).done(function (shops) {
                // $(".shops").append(shops);
                // console.log(shops);
            });
        };
        //error message 
        var geoError = function (error) {
            console.log('Error occurred. Error code: ' + error.code);
            // error.code can be:
            //   0: unknown error
            //   1: permission denied
            //   2: position unavailable (error response from location provider)
            //   3: timed out
        };

        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
    });
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>