<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<h1>Find Location</h1>
             
<style>
    body {
        background: white }
    section {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
                
<div class="shops">
  
</div>

<!-- form in javascript -->
<FORM NAME="myform" ACTION="" METHOD="GET">What do you want: <BR>
<INPUT TYPE="text" NAME="inputbox" VALUE="Donut" ID="user-input"><P>
<INPUT TYPE="button" NAME="button" Value="Click" ID="user-submit">
</FORM>

<script>
// check for Geolocation support
// $( "#user-submit" ).click(function() {
if (navigator.geolocation) {
    console.log('Geolocation is supported!');
} else {
    console.log('Geolocation is not supported for this Browser/OS version yet.');
}
//Sets startPos and times out if time is too long
$("#user-submit").click(function () {
    var startPos;
    var geoOptions = {
        timeout: 10 * 1000
    };
    var geoSuccess = function (position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var term = $("#user-input").val();
        // console.log(latitude);
        // console.log(longitude);
        $.ajax({
            type: "GET",
            url: "/results",
            data: {
                lat: latitude,
                lon: longitude,
                input: term
            }
        }).done(function (shops) {
            $(".shops").append(shops);
            // console.log(shops);
        });
    };
    //error message 
    var geoError = function (error) {
        console.log('Error occurred. Error code: ' + error.code);
        // error.code can be:
        //   0: unknown error
        //   1: permission denied
        //   2: position unavailable (error response from location provider)
        //   3: timed out
    };

    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
});

</script>


