<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <title>Closest: A flatiron App</title>

  </head>
  <style>
   html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: -60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          width: 90px;
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
  </style>

  <body>
    <div id="wrap">
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Closest</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>

      <!-- Main component for a primary marketing message or call to action -->

      <div class="container">
         <div class="col-xs-4 col-xs-offset-4" >
            <div class="form_focus">
        <FORM NAME="myform" ID="search-box" ACTION="" METHOD="GET">
          <label for='user-input'>Find me a:  </label>
        <INPUT TYPE="text" NAME="inputbox" VALUE="Donut" ID="user-input">
        <INPUT TYPE="button" NAME="button" Value="Click" ID="user-submit">
        </FORM>
    </div>
</div>

      </div>
        <div class="shops">

        </div>
     </div>
       <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Ben Gross & Joe Cardarelli <a href="https://github.com/JoeJohnRobert/flatiron_presents">Closest: Github</p>
      </div>
    </div>



    <script>
    // check for Geolocation support
    // $( "#user-submit" ).click(function() {
    if (navigator.geolocation) {
        console.log('Geolocation is supported!');
    } else {
        console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
    //Sets startPos and times out if time is too long
    $("#user-submit").click(function () {
        var_name = document.getElementById("search-box").style.display = 'none';
        var startPos;
        var geoOptions = {
            timeout: 10 * 1000
        };
        var geoSuccess = function (position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var term = $("#user-input").val();
            // console.log(latitude);
            // console.log(longitude);
            $.ajax({
                type: "GET",
                url: "/results",
                data: {
                    lat: latitude,
                    lon: longitude,
                    input: term
                },
                success: function(response){
                    JSON.parse(response).forEach(function(arr){
                      $(".shops").append("<a href=" + arr[2] + "><li>" + arr[0] + ", Rated: " + arr[1] + " stars, Located " + arr[4] + " away at: " + arr[3] + "</li></a>")
                    });
                }
            }).done(function (shops) {
                // $(".shops").append(shops);
                // console.log(shops);
            });
        };
        //error message 
        var geoError = function (error) {
            console.log('Error occurred. Error code: ' + error.code);
            // error.code can be:
            //   0: unknown error
            //   1: permission denied
            //   2: position unavailable (error response from location provider)
            //   3: timed out
        };

        navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
    });
    </script>
  </body>
</html>