<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<h1>Find Location</h1>
             
<style>
    body {
        background: white }
    section {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
                
<div class="shops">
  
</div>

<div class ="map" style = "Hidden">
    <!-- code for map -->
<div>

<FORM NAME="myform" ID="search-box" ACTION="" METHOD="GET">What do you want: <BR>
<INPUT TYPE="text" NAME="inputbox" VALUE="Donut" ID="user-input"><P>
<INPUT TYPE="button" NAME="button" Value="Click" ID="user-submit">
</FORM>

<script>
// check for Geolocation support
// $( "#user-submit" ).click(function() {
if (navigator.geolocation) {
    console.log('Geolocation is supported!');
} else {
    console.log('Geolocation is not supported for this Browser/OS version yet.');
}
//Sets startPos and times out if time is too long
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var chicago = new google.maps.LatLng(40.7053130, -74.0139110);
  var mapOptions = {
    zoom:7,
    center: chicago
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);
}

function calcRoute() {
  var origin      = new google.maps.LatLng(40.7053130, -74.0139110);
  var destination = new google.maps.LatLng(42.850033, -85.6500523);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

google.maps.event.addDomListener(window, 'load', initialize);

$("#user-submit").click(function () {
    var_name = document.getElementById("search-box").style.display = 'none';
    var startPos;
    var geoOptions = {
        timeout: 10 * 1000
    };
    var geoSuccess = function (position) {
        window.latitude = position.coords.latitude;
        window.longitude = position.coords.longitude;
        var term = $("#user-input").val();
        // console.log(latitude);
        // console.log(longitude);
        $.ajax({
            type: "GET",
            url: "/results",
            data: {
                lat: window.latitude,
                lon: window.longitude,
                input: term
            },
            success: function(response){
                JSON.parse(response).forEach(function(arr){
                  $(".shops").append("<a href=" + arr[2] + "><li>" + arr[0] + ", Rated: " + arr[1] + " stars, Located " + arr[4] + " away at: " + arr[3] + "</li></a>")
                });
            }
        }).done(function (shops) {
            // $(".shops").append(shops);
            // console.log(shops);
        });
    };
    //error message 
    var geoError = function (error) {
        console.log('Error occurred. Error code: ' + error.code);
        // error.code can be:
        //   0: unknown error
        //   1: permission denied
        //   2: position unavailable (error response from location provider)
        //   3: timed out
    };

    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
});



</script>


  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
   
    <script>


    </script>
  </head>
  <body>
    <!-- <div id="panel">
    <b>Start: </b>
    <select id="start" onchange="calcRoute();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    <b>End: </b>
    <select id="end" onchange="calcRoute();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    </div> -->
    <div id="map-canvas"></div>
  </body>
</html>


