<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <title>Closest: A flatiron App</title>

  </head>
  <style>
   html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        overflow-x: hidden;
      }

      /* Wrapper for page content to push down footer */
      .wrap {
        min-height: 85%;
        margin-bottom: -10px;

      }
      .wrap,
        #map-canvas {
        height: 70%;
        margin-left: 15%;
        padding: 0px;
        width: 70%;
      }
      .wrap:after {
        content: "";
        height: 25px;
        display: block;
      }
      
      #footer {
        background-color: #f5f5f5;
        position: relative;
        height: 25px;
        clear: both; 
        width: 100%;
      }
      .shops {
        text-align: center;
        margin-bottom: 15px;

      }
      .form-inline {
        text-align: center;
      }
      
  </style>

  <body>
    <%= yield_content :body %>:
    <script>
    // check for Geolocation support
    // $( "#user-submit" ).click(function() {
    if (navigator.geolocation) {
        console.log('Geolocation is supported!');
              var startPos;
              var geoOptions = {
              timeout: 10 * 1000
              };

    } else {
        console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
        var geoSuccess = function (position) {
          console.log(position)
             latitude = position.coords.latitude;
             longitude = position.coords.longitude;
             initialize(latitude, longitude);
          };
        var geoError = function (error) {
            console.log('Error occurred. Error code: ' + error.code);
            // error.code can be:
            //   0: unknown error
            //   1: permission denied
            //   2: position unavailable (error response from location provider)
            //   3: timed out
        };
    navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
    //Sets startPos and times out if time is too long
    $("#user-submit").click(function () {

     var_name = document.getElementById("search-box").style.display = 'none';
            var term = $("#user-input").val();
            
              console.log(latitude);
            $.ajax({
                type: "GET",
                url: "/results",
                data: {
                    lat: latitude,
                    lon: longitude,
                    input: term
                },
                success: function(response){
                    JSON.parse(response).forEach(function(arr){
                      $(".shops").append("<p class='lead'><a href=" + arr[2] + ">" + arr[0] + "</a></p>" +"Rated: " + arr[1] + " stars, Located " + arr[4] + " away at: " + arr[3])
                    });

                    var destLat = JSON.parse(response)[0][5][0];
                    var destLon = JSON.parse(response)[0][5][1];
                    calcRoute(latitude, longitude, destLat, destLon);

                }
            }).done(function () {
                
                // $(".shops").append(shops);
                // console.log(shops);
            });
        //error message 
    });
    </script>
  </body>
</html>

<!-- ----------------------------------------------------- -->  
<script>

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize(latitude, longitude) {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var chicago = new google.maps.LatLng(latitude, longitude);
  var mapOptions = {
    zoom:15,
    center: chicago
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);
}

function calcRoute(latitude, longitude, destLat, destLon) {
  var origin      = new google.maps.LatLng(latitude, longitude);
  var destination = new google.maps.LatLng(destLat, destLon);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}



google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  